<!DOCTYPE html>
<html>
<head>
    <title>The Button</title>
    <link rel="icon" href="images/Gemini_Generated_Image_pjl7wwpjl7wwpjl7.png" type="image/png">
    
    
    <!-- Unsichtbare Informationen -->
</head>

<body>
    <body style="background-color: #c08787;">
    <h2 style="text-align: center; font-family: Zapfino, sans-serif;">The Button</h2>
    <h6 style="text-align: center; font-family: american typewriter, sans-serif; position: fixed; bottom: 0; width: 97.67%;"> <a href="https://github.com/vartoali40-hue" title="My GitHub" target="_blank" style="color: black;">Made by Varto</a></h6>
    <br>
    <br>
    <button id="theButton" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 10%;border-radius: 100px;height: 100px; width: 100px; font-family: 'Courier New', Courier, monospace;">Click me!</button>
    <br>
    <h3 style="text-align: center; font-family: 'Courier New', Courier, monospace;" id="clickCount">0</h3>
    <h3 style="text-align: center; font-family: 'Courier New', Courier, monospace;" id="Highscore">Highscore: 0</h3>
    
    <!-- Sichtbare Inhalte -->
</body>
 <script src="static/script.js"></script>
</html>



















